language: java
jdk:
  - openjdk17

services:
  - mysql
  - docker

env:
  global:
    - MYSQL_DATABASE=world
    - MYSQL_USER=worlduser
    - MYSQL_PASSWORD=_ty5g09^tt
    - MYSQL_ROOT_PASSWORD=P@ssw0rd!
    - CODECOV_TOKEN=${secrets.CODECOV_TOKEN}

before_install:
  - echo "Waiting for MySQL to be ready..."
  - while ! mysqladmin ping -h "127.0.0.1" --silent; do sleep 1; done
  - echo "Loading schema..."
  - mysql -u root -pP@ssw0rd! < world-db/world.sql

install:
  - mvn clean install -DskipTests=true

script:
  - mvn test
  - mvn verify
  - mvn jacoco:report

after_success:
  - bash <(curl -s https://codecov.io/bash)

before_deploy:
  - echo "Building Docker image..."
  - docker build -t group7/world-population .

notifications:
  email:
    recipients:
      - whashby@gmail.com
    on_success: change
    on_failure: always
